.planos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.plano {
  width: 300px;
  background-color: gainsboro;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  gap: 1rem;
}

.plano button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.plano:hover {
  transform: scale(1.1);
}

.letreiro {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
