body {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

header ul {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}

header h1 {
  margin: 1rem;
  font-size: 20px;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}
